<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center logo-container">
        <img src="ruta_del_logo_1" alt="Servicio 1 Logo" class="img-fluid logo">
      </div>
      <p class="text-center descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros sit amet convallis ultricies.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center logo-container">
        <img src="ruta_del_logo_2" alt="Servicio 2 Logo" class="img-fluid logo">
      </div>
      <p class="text-center descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros sit amet convallis ultricies.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center logo-container">
        <img src="ruta_del_logo_3" alt="Servicio 3 Logo" class="img-fluid logo">
      </div>
      <p class="text-center descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros sit amet convallis ultricies.</p>
    </div>
  </div>
</div>
